<!--M:Indent fixed-->
<div class="container-fluid">
  <div class="row justify-content-center px-3">
    <%= render 'layouts/errors', obj: @contact %>
  </div>
</div>
<div class="container">
  <div class="row pt-5 pb-3 justify-content-center">  
    <div class="col-md-4 text-center">
      <h3>*<%= t(".page_title") %>*</h3>
    </div>
  </div> 
  <div class="row justify-content-center pb-3">
    <%= form_with(model: @contact, local: true) do |f| %>
      <div class="correct-msg-box">
        <!--M:Email form-->
        <div class="correct-msg-main">
          <div class="contact-form">
            <div class="correct-text-field pb-3">
              <div><%= t(".name") %></div>
              <%= f.text_field :name, placeholder: t(".name_placeholder"), class: "input-form" %>
            </div>
            <div class="correct-text-field pb-3">
              <div><%= t(".content") %></div>
              <%= f.text_area :content, placeholder: t(".content_placeholder"), class: "input-form" %>
            </div>
            <div class="send-btn-contents">
              <div class="register-btn">
                <%= f.button type: "submit", class:"btn btn-info" do %> 
                  <%= t(".send_button") %><i class="fas fa-paper-plane"></i>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>