<div class="container mt-5">
  <div class="row mt-3 mb-3">  
    <h3>*Sign in*</h3>
  </div>
  
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

            <%= f.label :email, 'Email' %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>

            <%= f.label :password, 'パスワード' %>
            <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>

            <%= f.submit 'ログイン' %>
      <% end %>


</div>