  <% problem.problem_comments.each do |problem_comment| %>
      <div class="py-3">
      <div class="row">
        <div class="col-md-1"><%= image_tag problem_comment.user.get_profile_image(30,30) %></div>
        <div class="col-md-8 py-1">
          <%= problem_comment.user.first_name %>
          <%= problem_comment.user.middle_name %>
          <%= problem_comment.user.last_name %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10  border rounded">
          <%= simple_format(problem_comment.comment) %>
        </div>
      </div>
      <div class="row py-1">
        <div class="col-md-1"></div>
        <div class="col-md-4">
          <%= problem_comment.created_at.strftime('%Y/%m/%d') %>
        </div>
        <div class="col-md-6">
            <%= link_to "Delete comment", admin_problem_problem_comment_path(problem, problem_comment), method: :delete, class:"btn btn-danger btn-sm" %>
        </div>
      </div>
    
      </div>
  <% end %>