
<h5>Create a new tag</h5>
<%= form_with model: @problem_tag do |f| %>
    <%= f.text_field :name, placeholder: "business culture" %>
    <%= f.submit "Create" %>
<% end %>


<h5>Tags</h5>

<% @problem_tags.each do |problem_tag| %>
    <%= problem_tag.name %>
    <% if current_user == problem_tag.user %>
        <!--M: No need to delete tag. Afraid of finding no tag_id on user's post after deleting tag.-->
        <%#= link_to "Delete Tag", problem_tag_path(problem_tag), method: :delete %>
        <%= link_to "Edit Tag", edit_problem_tag_path(problem_tag) %>
    <% end %>
    </br>
<% end %>