<div class="container-fluid">
  <div class="row text-center mx-1">
    <div class="flash-message notice"><%= flash[:notice] %></div>
  </div>
  <div class="row text-center mx-1">
    <div class="flash-message alert"><%= flash[:alert] %></div>
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col-md-5">
          <div class="row pt-4 pb-3">
          </div>
          <div class="row pt-5 pb-3 justify-content-center">  
          <div class="col-md-6 text-center">
            <h5>*<%= t(".page_title_new_tag") %>*</h5>
            <h6 class="pt-3"><%= t(".page_title_new_tag2") %></h6>
          </div>
         </div>
         <%= form_with model: @problem_tag do |f| %>
           <div class="row justify-content-center">
            <%= f.text_field :name, placeholder: "business culture" %>
           </div>
           <div class="row justify-content-center pt-3">
            <%= f.submit t(".create_button"), class:"btn btn-secondary" %>
           </div>
         <% end %>
      </div>
      <div class="col-md-3">
          <div class="row pt-5 pb-3">
              <div class="col-md-5 text-center">
                <h3>*<%= t(".page_title_tags") %>*</h3>
              </div>
          </div>
            <% @problem_tags.each do |problem_tag| %>
                <div class="row border-top border-bottom py-1 align-items-center">
                  <div class="col-md-5">
                    <%= problem_tag.name %>
                  </div>
                  <div class="col-md-6 pl-5">
                    <% if current_user == problem_tag.user %>
                      <!--M: No need to delete tag. Afraid of finding no tag_id on user's post after deleting tag.-->
                      <%#= link_to "Delete Tag", problem_tag_path(problem_tag), method: :delete %>
                      <%= link_to t(".edit_button"), edit_problem_tag_path(problem_tag), class:"btn btn-info btn-sm" %>
                    <% end %>
                  </div>
                </div>
            <% end %>
      </div>
  </div>
     

</div>