<p id="js-problem_comment-label-<%= problem_comment.id %>"><%= problem_comment.problem_comment %></p>
<p id="js-problem_comment-post-error-<%= problem_comment.id %>" class="text-danger"></p>

<%= form_with model: problem_comment, local: false do |f| %>
  <%= f.text_area :comment, id: "js-textarea-problem_comment-#{problem_comment.id}",
                            class: "form-control problem_comment-post-error",
                            style: "display:none;" %>

  <div id="js-problem_comment-button-<%= problem_comment.id %>" style="display: none;">
    <button data-cancel-id=<%= problem_comment.id %> type="button" class="comment-button comment-cancel-button">Cancel</button>
    <%= f.submit "Update", class: "problem_comment-button problem_comment-update-button" %>
  </div>
<% end %>