<!--M:Indent fixed-->
<div class="container">
  <div class="row pt-5 pb-3 justify-content-center">  
    <div class="col-md-6 text-center">
      <h3>*<%= t(".post_title") %>*</h3>
      <h6 class="pt-3"><%= t(".post_text1") %></h6>
      <h6><%= t(".post_text2") %></h6>
    </div>
   </div> 
  <div class="row pt-2 pb-3 justify-content-center">
    <div class="col-md-5 pb-2">
      <%= form_with model: problem_new do |f| %>
        <table>
          <tr>
            <th class="pb-2"><%= t(".title") %></th>
          </tr>
          <tr>
            <td class="pb-2"><%= f.text_field :title, placeholder: t(".title_placeholder") %></td>
          </tr>
          <tr>
            <th class="pb-2"><%= t(".caption") %></th>
          </tr>
          <tr>
            <td class="pb-2"><%= f.text_area :caption, placeholder: t(".caption_placeholder") %></td>
          </tr>
          <tr>
            <th class="pb-2"><%= t(".image") %></th>
          </tr>
          <tr>
            <td>
              <label>
                <%= t(".choose_file") %>
                <%= f.file_field :problem_images, multiple: true, class: 'form-control', id: 'fileBox'%>
              </label>
              <p id="fileBoxName"><%= t(".no_file") %></p>
            </td>
          </tr>
          <tr>
            <th class="pb-2"><%= t(".tag_title") %></th>
          </tr>
          <tr>
            <td class="pb-2">
              <%= f.collection_check_boxes(:problem_tag_ids, ProblemTag.all, :id, :name, include_hidden: false) do |b| %>
                <%= b.check_box %>
                <%= b.text %>
              <% end %>
            </td>
          </tr>
        </table>
        <div class="row justify-content-center py-3">
          <%= f.submit t(".post_button"), class:"btn btn-info" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-5 justify-content-center">
      <div class="row pt-3 mt-1 border-top justify-content-center">
        <h5><%= t(".no_tag_text") %></h5>
      </div>
      <div class="row pt-2 justify-content-center">
        <h6><%= t(".new_tag_text") %></h6>
      </div>
      <div class="row pt-2 justify-content-center">
        <%= form_with model: problem_tag do |f| %>
          <div class="row justify-content-center">
            <%= f.text_field :name, placeholder: "business culture" %>
          </div>
          <div class="row justify-content-center pt-2 pb-4">
            <%= f.submit t(".create_button"), class:"btn btn-secondary" %>
          </div>
        <% end %>
      </div>
      <div class="row justify-content-center pb-3">
        *<u><%= link_to t(".click_here"), problem_tags_path, class:"text-dark" %></u>　<%= t(".new_tag_link") %>
      </div>
    </div>
  </div>
</div>
<%#= f.select :problem_tag_id, select_array, include_blank: "--Choose tags!--", multiple: true %>
<!--M:Description below is easier & faster-->
<%#= f.collection_select :problem_tag_id, ProblemTag.all, :id, :name, {include_blank: "--Choose tags!--"} %>
<!-- M:changed to checkboxes to select multiple tags-->