<h1>Problem Details</h1>

<%= @problem.title %>
<%= @problem.caption %>
<% @problem.problem_images.each do |problem_image| %>
        <%= image_tag(problem_image, width:100) %>
<% end %>

<% if @user == current_user %>
    <%= link_to "Edit Post", edit_problem_path(@problem) %>
<% end %>

<% if @user == current_user %>
    <%= link_to "Delete Post", problem_path(@problem), method: :delete, "data-confirm" => "Are you sure？" %>
<% end %>