<h1>Problem Details</h1>
<%= link_to @problem.user.first_name + " " + @problem.user.last_name, user_path(@problem.user.id) %>
<%= @problem.title %>
<%= @problem.caption %>
<% @problem.problem_images.each do |problem_image| %>
        <%= image_tag(problem_image, width:100) %>
<% end %>

<% if @user == current_user %>
    <%= link_to "Edit Post", edit_problem_path(@problem) %>
<% end %>

<% if @user == current_user %>
    <%#= link_to "Delete Post", problem_path(@problem), method: :delete, "data-confirm" => "Are you sure？" %>
    <%= link_to "Delete Post", problem_path(@problem), method: :delete %>
<% end %>

<!--counting comments-->
<%= render 'public/problem_comments/count_problem_comments', problem:@problem %>
<!--comments section-->
<%= render 'public/problem_comments/problem_comments', problem:@problem, problem_comment:@problem_comment  %>