<div class="container">
  <div class="row pt-5 pb-3 justify-content-center">  
    <div class="col-md-4 text-center">
      <h3>*Edit your profile*</h3>
    </div>
  </div> 
</div>

<%= form_with model:@user, url:users_information_path, method: :patch do |f| %>
    <div class="row justify-content-center">
      <div class="col-md-4 pb-2">
          <table>
              <tr>
                  <th class="pr-4 pb-2">First name</th>
                  <th class="pr-4 pb-2">Middle name</th>
                  <th class="pr-4 pb-2">Last name</th>
              </tr>
              <tr>
                  <td class="pr-4 pb-2"><%= f.text_field :first_name %></td>
                  <td class="pr-4 pb-2"><%= f.text_field :middle_name, placeholder: "middle name" %></td>
                  <td class="pr-4 pb-2"><%= f.text_field :last_name %></td>
              </tr>
          </table>
          <table>
              <tr><th class="pb-2">Introduction</th></tr>
              <tr><td class="pb-2"><%= f.text_area :introduction %></td></tr>
          </table>
          <table>
              <tr><th class="pb-2">Profile photo</th></tr>
              <td class="pb-2">
                <label>
                  <input type="file" name="file">Choose File<%= f.file_field :profile_image, class: 'form-control' %>
                </label>
                  <!--<script>File not chosen</script>-->
              </td>
          </table>
          
          <div class="row justify-content-center">
              <div class="col-md-4 pt-3"><%= f.submit "Update your profile", class:"btn btn-info" %></div>
              <div class="col-md-4 pt-3"><%= link_to 'Delete your account', users_check_path, class: 'btn btn-danger' %></div>
          </div>
      </div>
    </div>
<% end %>