<h3>Profile of <%= @user.first_name %></h3>


<%= image_tag @user.get_profile_image(100, 100) %>
<%= @user.first_name %>
<%= @user.middle_name %>
<%= @user.last_name %>

<%= @user.introduction %>

<% unless @user.guest_user? && @user == current_user  %>
<!--M:guest users cannot have edit button-->
  <div class='row'>
    <%= link_to 'Edit your profile', users_information_edit_path(@user) %>
  </div>
<% end %>

<!--show all the problems posted by this user-->
<% @problems.each do |problem| %>
    <%= link_to problem.title, problem_path(problem) %>
    <%= problem.caption %>
    <%= render 'public/problem_comments/count_problem_comments', problem:problem %>
<% end %>