<!--M:Index fixed-->
<nav class="container-fluid">
  <div class="row bg-warning py-3 align-items-center">
    <div class="col-md-2 pl-5 mr-3 ">
      <%= link_to 'Tips for J life', root_path, class: "logo text-dark", style: 'font-size: 20px;' %>
      <!--M:logo to be left-sided-->
    </div>
    <div class="col-md-2 align-items-center">
      <% if user_signed_in? && !request.fullpath.include?("/admin") %>
      <!--M:not allowed to see paths including "/admin" unless you logged in as admin-->
        <%= t(".welcome") %> <%= current_user.first_name %>ï¼
      <% end %>
    </div>
    <!--M:When signed in as an admin-->
    <% if request.fullpath.include?("/admin") && admin_signed_in? %>
      <div class="col-md-2">Signed in as an admin</div>
      <div class="col-md-1"><u><%= link_to "Users", admin_root_path, class:"text-dark" %></u></div>
      <div class="col-md-1"><u><%= link_to "Problems", admin_problems_path, class: "text-dark" %></u></div>
      <div class="col-md-1"><u><%= link_to "Events", admin_events_path, class: "text-dark" %></u></div>
      <div class="col-md-1"><u><%= link_to "Log out", destroy_admin_session_path, method: :delete, class: "text-dark" %></u></div>
      <div class="col-md-1">
        <%= link_to admin_notices_path, class:"text-dark" do %>
          <i class="fa-solid fa-bullhorn"></i>
        <% end %>
      </div>
    <!--M:When signed in as a user-->
    <% elsif user_signed_in? %>
      <div class="col-md-1 offset-2">
        <%= link_to user_path(current_user), class: "text-dark" do %>
          <i class="fa-solid fa-user"></i>
        <% end %>
      </div>
      <div class="col-md-1"><u><%= link_to t(".problems"), problems_path, class: "text-dark" %></u></div>
      <div class="col-md-1"><u><%= link_to t(".events"), events_path, class: "text-dark" %></u></div>
      <div class="col-md-1"><u><%= link_to t(".log_out"), destroy_user_session_path, method: :delete, class: "text-dark" %></u></div>
      <div class="col-md-1">
        <%= link_to new_contact_path, class:"text-dark" do %>
          <i class="fa-regular fa-envelope"></i>
        <% end %>
      </div>
    <!--M:When not signed in-->
    <% else %>
      <div class="col-md-1 offset-1"><u><%= link_to "About", about_path, class:"text-dark" %></u></div>
      <div class="col-md-1"><u><%= link_to "Sign up", new_user_registration_path, class:"text-dark" %></u></div>
      <div class="col-md-1"><u><%= link_to "Sign in", new_user_session_path, class:"text-dark" %></u></div>
      <div class="col-md-2"><u><%= link_to "Sign in as a guest", users_guest_sign_in_path, method: :post, class:"text-dark" %></u></div>
      <div class="col-md-1">
        <%= link_to new_contact_path, class:"text-dark" do %>
          <i class="fa-regular fa-envelope"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</nav>