<!DOCTYPE html>
<html>
  <head>
    <title>TipsForJLife</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/42d7afb099.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="container-fluid">
        <div class="row">
          <div>
          <h1>
          Tips for J life
          <!--M:logo to be left-sided-->
          </h1>
          </div>
          <div>
            <% if user_signed_in? && !request.fullpath.include?("/admin") %>
            <!--M:not allowed to see paths including "/admin" unless you logged in as admin-->
            <p>
              Welcome、<%= current_user.first_name %>！
            </p>
            <% end %>
          </div>
          
          <div class="row">
            <% if request.fullpath.include?("/admin") && admin_signed_in? %>
              <!--<= M:link_to "Users", users_path >  users index comes up on the admin top page, no need for the link-->
              <%= link_to "Problems", problems_path %>
              <%= link_to "Events", events_path %>
              <%= link_to "Log out", destroy_admin_session_path, method: :delete %>
            <% elsif user_signed_in? %>
              <%= link_to "My page", user_path(current_user) %>
              <%= link_to "Problems", problems_path %>
              <%= link_to "Events", events_path %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete %>
            <% else %>
              <!--M:about page will be needed in case there will be threads on the top page-->
              <%= link_to "About", about_path %>
              <%= link_to "Sign up", new_user_registration_path %>
              <%= link_to "Sign in", new_user_session_path %>
              <%= button_to "Sign in as a guest", users_guest_sign_in_path, method: :post %>
            <% end %>
          </div>
        </div>
      </nav>
    </header>
    
    <footer>
      <!--M:create privacy policy if possible-->
    </footer>
    <%= yield %>
  </body>
</html>
